ol {
    background: #ff9999;
    padding: 5px 10px 7px 5px;
}

ul {
    background: #3399ff;
    padding: 20px;
}

ol li {
    background: #ffe5e5;
    padding: 2px;
    margin-left: 55px;
    border: 5px  solid black;

}

ul li {
    background: #cce5ff;
    margin: 5px;
}